/*réservation de menus*/
button { 
    border-radius : 27px;
    width : 65%; 
    margin-left: 17.5%;
    background-color: $secondary-color;
    padding-bottom: 19px;
    padding-top: 19px;
    color: white;
    filter: drop-shadow(5px 6px 4px silver);
    border:none;
    font-weight: bold;
    background-image: $btn-color;
    &:hover { /* éclaircir le bouton au survol */
      opacity: 0.5;
      filter: drop-shadow(7px 8px 6px grey);
  }
    @include md {
      width: 35%;
      margin-left: 32.5%;
    }
    @include xl {
      margin-left: 31.5%;
    }

}

  /* le bouton commander ==> pour les pages menus*/
.btn {
    border-radius : 27px;
    width : 60%; 
    margin-left: 20%;
    background-color: $secondary-color;
    padding-bottom: 16px;
    padding-top: 16px;
    color: white;
    filter: drop-shadow(5px 6px 4px silver);
    border:none;
    font-weight: lighter;
    font-size: 15px;
    background-image: $btn-color;
    transition: 0.3s;
       &:hover { /* éclaircir le bouton au survol */
            opacity: 0.5;
            filter: drop-shadow(7px 8px 6px grey);
        }
        @include md {
          width: 50%;
          margin-left: 25%;
          margin-top: 53px;


        }
        @include xl {
          width: 27%;
          margin-left: 36.5%;
        }

}

.input {
  margin-left: 13px;
}

i.iStore:hover{
  color: #9370D8;
} 
i.iMobile:hover{
  color: #9370D8;
}   
i.iList:hover{
  color: #9370D8;
}     
