
           .section{
            display: block;
            background-color: lightgray;
            height: 100vh;
            position: fixed; /* a mpodifier pour prendre toute la longuer de l'écran*/
            width: 100vw;
            top: 0;
            left: 0;
           }
           .chargement {
                /*création du loader*/
                border: 10px solid #f3f3f3;
                border-top:10px solid $primary-color; 
                border-bottom: 10px solid $secondary-color;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                
                -webkit-animation: spin 3s linear infinite; /* s'adapte à tous les navigateurs*/
                -o-animation: spin 3s linear infinite;
                animation: spin 3s linear infinite;
                position: absolute; 
                
                  }

        /*Animation du loader*/
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
                visibility: hidden;
                opacity: 0;
             
            }  }
/*  disparition du loader*/


/* accueil ==> pour mettre un fond derriere la page avant apparition*/
