
           .section{
            background-color: #99E2D0;
            min-height: 100vh;
            position: absolute;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;  
            animation: disparition 3s;
            opacity: 0;
            z-index: -10;
        }
        @keyframes disparition {
            0% {
                opacity: 1;
                z-index: 99;
            }
            90% {
                opacity: 1;
                z-index: 99;
            }

            99% {
                opacity: 0.5;
                
            }
            100% {
                opacity: 0;
                visibility: hidden;
            }

        }
           .chargement {  /*création du loader*/
              
                border: 10px solid #f3f3f3;
                border-top:10px solid $primary-color; 
                border-bottom: 10px solid $secondary-color;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                -webkit-animation: spin 4s linear infinite; /* s'adapte à tous les navigateurs*/
                -o-animation: spin 4s linear infinite;
                animation: spin 4s linear infinite;
                // animation-fill-mode: forwards; /* fait disparait l'icone de chargement */
                // animation-iteration-count: 1; 
             
                  } 

        /*Animation du loader*/
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
                visibility: hidden;
                opacity: 0;
             
            }  } 
/*  disparition du loader*/


/* accueil ==> pour mettre un fond derriere la page avant apparition*/
