        body {
            font-size: 11pt;
            font-family: $font-family__txt,sans-serif;
            margin: 0;  
            overflow-x: hidden;
            background-color: whitesmoke;
           
            }
           
        
        /* img restaurant*/
    
        main { 
            background-color: $bgd-color;
            @include md {
                margin-top: 18px;
            }
        }

        .background__grey {
            padding-top: 2px;
            padding-bottom: 22px;

            @include md {
                display: flex;
                flex-wrap: wrap;
            }
            figure {
                margin-left: 6%;
                margin-right: 6%;
                display: flex;
                flex-direction: column;
                position: relative;
                @include md {
                    width: 38%;
                }
            }
                img {
                border-radius: 15px 15px 0px 0px;    
                object-fit: cover;
                }
        }
            
    
        .background__grey figcaption {
            padding-left: 14px; 
            background-color: white;
            border-radius: 0px 0px 18px 18px;
            line-height: 0px;
            margin-top: -3px;
            box-shadow: 1px 1px 12px lightgrey;
            display: flex;
            flex-direction: column;
                h3 {
                    font-size: 15px;
                    line-height: 1em;
                }

             }    
             
       /*La palette du goût*/
       
       .fond {
        border-radius: 41px 41px 0px 0px;
        position: relative;
        top:-35px;
        margin-top: 0;
        @include md {
            top: -85px;
        }
    }

    .liste {
        margin-bottom: 44px;
    }

    .titre1 {
        font-family: $font-family__title;
        font-size: 23px;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 23px;
        @include md {
            padding-top: 30px;
            padding-bottom: 10px;
            font-size: 30px;

        }
    }
    .titre2 {
        font-size: 15px;
        font-weight: lighter;
        margin-left: 5%;  
        border-bottom: 3px solid #99E2D0;
        padding-bottom: 5px;
        width: 11%;
        @include md {
            width: 5%;
            margin-left: 6%;
            margin-bottom: 24px;

        }
        @include xl {
            width: 3%;
        }
    }

  /* La palette du gout*/
  .body1 {
    font-size: 11pt;
    font-family: $font-family__txt,sans-serif;
    margin: 0;  
    overflow-x: hidden;
    background-color: whitesmoke;

    }    