        /* pied de page*/
        footer {
            background-color: rgb(49, 48, 48);
            color: white;
            padding: 9px;
      
                h3 {
                    font-family: $font-family__title;
                    margin-left: 12px;
                }
                     p {
                    line-height: 10px;
                    margin-left: 12px;
                     }
            } 
            