    header {
    align-items: center;
}
    
    /*réservation de menus*/
    .grey {
        background-color:$bgd-color;
        margin-bottom: 39px;
        padding-bottom: 46px;
        margin-top: 49px;
           h2 { 
            text-align: center;
            width: 75%;
            margin-left: 40px;
            padding-top: 27px;
        }
            p {
            text-align: center;
            margin-bottom: 30px;
            font-weight: 100;
            }


    /*La palette du goût*/
    
   
 
    
