     .titre { /* Partie Fonctionnement*/
        margin-left : 23px;
        margin-bottom: 16px;
    }

    .menu {
        width: 100%;
        padding: 0;
    }
    .menu__item {   
            list-style-type: none;
            border-radius : 19px;
            margin: 19px;
            background-color: $bgd-color;
            box-shadow: 8px 8px 12px lightgrey;
            display:flex;
            align-items: center;
            padding-top: 9px;
            padding-bottom: 9px; 
            p {
                color: white;
                border-radius: 59%;
                background-color: #9370D8;
                padding-left: 7px;
                padding-right: 7px;
                padding-top: 3px;
                padding-bottom: 4px;
                font-size: 14px;
                margin-left: -5px;

            }
            i.iStore{
                    color: #9370D8;
                }       
            }
        
    li i{ /* menu*/
        padding: $pdg +10;
        font-size: 17px;
        color: dimgrey;
    }

          /*La palette du goût*/
          .menu1 {
            width: 100%;
            padding: 0;
        }
        .menu1__item {   
            list-style-type: none;
            border-radius: 14px;
            margin-right: 3%;
            margin-left: 3%;
            margin-bottom: 18px;
            background-color: white;
            box-shadow: 8px 8px 12px lightgrey;
            padding-top: 0.5px;
            padding-bottom: 0.5px;
            line-height: 4px;
            position: relative;
            width: 94%;
            animation-duration: 2s; /* vitesse de l'amination*/
            animation-name: slidein;/*nom de l'amination*/
            animation-iteration-count: 1; 
            
          } 
 
      @keyframes slidein { /* selection de l'animation*/
        from {
          margin-bottom:100%;
          width:94%
        }
      
        to {
          margin-bottom: 5%;
          width:94%;
        }
      }

      /* Animation coche au survol*/

                   .titre3 {
                    font-size: 15px;
                    padding-left: $pdg;
                   } 
                   .sous-titre {
                    font-weight: 300;
                    padding: 5px 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    padding-left: $pdg;
                    font-size:13.5px;
                   }
                   .prix {
                    font-weight: bold;
                    font-size:13.5px;
                    padding-left: $pdg;

                }
                .iCircle {
                  font-size: 20px;
                  color: white;
                  &:hover{
                    -webkit-transform: rotate(360deg) scale(1.2);
	                  transform: rotate(360deg) scale(1.2);
	                  -webkit-transition: .3s ease-in-out;
	                  transition: .3s ease-in-out;
                  }
                }

    /* flexbox pour les menus */
        #texte {
          width: 82%;
          height: 13px;
     
        }

        #cout {
          display: flex;
          justify-content: flex-end;
          width: 95%;
     
        }

        #checkbox {
          display: flex;
          justify-content: flex-end;
          width: 10%;
          padding-left: 8%;
          margin-left: 82%;
          position: absolute;
          top: 0px;
          
          &:hover {  /* slide de droite à gauche*/
            background-color: $tertiary-color;
            animation-duration: 1s;
            border-radius: 0px 14px 14px 0px;
            animation-name: anime; 
          } 
          @keyframes anime { /* selection de l'animation*/
            from {
              margin-left:92%;
              width: 0%;
              visibility: hidden;
            }
            to {
              margin-right: -5%;
            }
             }
         
  

        
        
          
     
