     .titre { /* Partie Fonctionnement*/
        margin : 12px;
    }
    
    .menu {
        border: black;
        &__item {
            list-style-type: none;
            padding: $pdg
        }
    }

    li i{ /* menu*/
        padding: $pdg
    }