     .titre { /* Partie Fonctionnement*/
        margin-left : 23px;
        margin-bottom: 16px;
    }

    .menu {
        width: 100%;
        padding: 0;
    }
    .menu__item {   
            list-style-type: none;
            border-radius : 19px;
            margin: 19px;
            background-color: $bgd-color;
            box-shadow: 8px 8px 12px lightgrey;
            display:flex;
            align-items: center;
            padding-top: 9px;
            padding-bottom: 9px;
            &:hover {
                background-color:#E6E6FA;
            }  
            p {
                color: white;
                border-radius: 59%;
                background-color: #9370D8;
                padding-left: 7px;
                padding-right: 7px;
                padding-top: 3px;
                padding-bottom: 4px;
                font-size: 14px;
                margin-left: -5px;

            }
            i.iStore{
                    color: #9370D8;
                }       
            }
        
    li i{ /* menu*/
        padding: $pdg +10;
        font-size: 17px;
        color: dimgrey;
    }

          /*La palette du goût*/
          .menu1 {
            width: 100%;
            padding: 0;
        }
        .menu1__item {   
            list-style-type: none;
            border-radius: 14px;
            margin-right: 16px;
            margin-left: -3px;
            margin-bottom: 18px;
            background-color: white;
            box-shadow: 8px 8px 12px lightgrey;
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: 6px;
            position: relative;
                   h3 {
                    font-size: 16px;
                   } 
                   p {
                    font-weight: 300;
                   }
                   .prix {
                    font-weight: bold;
                    position: absolute;
                    top: 27px;
                    right: 13px;
                }
            }
            
   