/* animation sur un coeur : couleur violet + icone main qui clique*/

i.iconeHeart {
    position: relative;
    bottom: 32px;
    left: 86%;
    font-size: 22px;
    }  
i.iconeHeart1 {
    position: relative;
    bottom: 32px;
    left: 86%;
    font-size: 22px;
    background-image: linear-gradient( 0deg , #FF79DA, #9370D8);
            background-size: cover;
            background-position: center;
            background-clip: text;
          -webkit-background-clip:text;
            color: transparent;
}

/* mise en forme localisation*/ 

.center {    /*logo+localisation*/
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 65px;
        img { 
            margin-top: 20px;
        }
        #lieu--grey {
        background-color: #eee; 
        width: 100%;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
        border: inset;
          }
            i.iMarker{
                padding-right: $pdg;
            }
    }   

/* création icone "nouveau" sur les images des restaurants*/

figure p{
    color: #3CB371;
    background-color: #2E8B57;
    position: absolute;
    right: 12px;
    top: 12px;
}