/* animation sur un coeur : couleur violet + icone main qui clique*/

i.iconeHeart {
    position: absolute;
    bottom: 28px;
    left: 86%;
    font-size: 22px;
    background-clip: content-box;
    -webkit-background-clip:text;
   &:hover{
    background-image: linear-gradient( 0deg , #FF79DA, #9370D8);
           /* couleur a la taille du coeur*/
           background-size: cover;
           background-position: center;
           color: transparent;
           font-weight: bold;
           transition: background-image 3s ease-out;
           transition: color 2s ease-out;
            /*mise en place de la transition : arriver progressive de la couleur */
            }
    i.iconeHeart::before{
        transition: color 1s ease-out;
                    }

    i.iconeHeart:hover::before{
        background-image: linear-gradient( 0deg , #FF79DA, #9370D8);
                cursor: pointer;
     
            }
            
}  

i.iMobile {
    padding-right: 7%;
    
}
i.iList {
    padding-right: 6%;
}
    

i.iStore{
    padding-right: 6%;
    
}



/* mise en forme localisation*/ 

.center {    /*logo+localisation*/
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 48px;
    background-color: white;
    @include md {
        height: 63px;
    }
    @include xl {
        height: 91px;
    }
        img { 
            margin-top: 10px;
            @include md {
                width: 36%;
            }
            @include xl {
                margin-top: 21px;
                width: 23%;
            }
        }
        #lieu--grey {
        background-color: #eee; 
        width: 100%;
        padding-bottom: 16px;
        padding-top: 16px;
        text-align: center;
        border-top: 3px solid lightgrey;
        box-shadow: 2px -1px 2px #eee;
        @include md { 
            padding-bottom: 18px;
            padding-top: 18px;
        }
       
          }
            i.iMarker{
                padding-right: $pdg;
            }
    }   

/* création icone "nouveau" sur les images des restaurants*/

figure p{
    
    position: absolute;
    right: 18px;
    bottom: 145px; /*modifier*/
    color: seagreen;
    background-color: MediumAquaMarine;
    width: 26%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 7%;
    font-family:$font-family__txt;
}

    /*La palette du goût*/
   /* .center2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    height: 51px;
    background-color: white;
        @include md {
            height: 83px;
            margin-right: 30%;
        }
        i.iArrow {
            padding-left:12px ;
            width: 48%;
            @include md {
                padding-left: 21px;
            }
        }
        .logo {
            padding-right: 29%;
            width: 42%;
           @include md {
            padding-right: 33.5%;
            width: 33%;
           }
        }
    }*/
    .center1 { /*mobile*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    height: 51px;
 
    background-color: white;
    @include md { /*tablette*/
        height: 83px;

    }
            i.iArrow { /*mobile*/
                padding-left: 5%;
                width: 43%;
                @include md { /*tablette*/
                    padding-left: 21px;
                }
            }
            .logo { /*mobile*/
                padding-right: 29%;
                width: 40%;
               @include md { /*tablette*/
                padding-right: 33.5%;
                width: 33%;
               }
            }
    }

    .image {
    width: 100%;
    height: 230px;
    object-fit: cover;
        @include md {
    max-width: 100%;
    height: 393px;
    object-fit: cover;
        }
    }

    i.iconeHeart2 {
        padding-left: 28px;
        background-clip: content-box;
        -webkit-background-clip:text;
        &:hover{
            background-image: linear-gradient( 0deg , #FF79DA, #9370D8);
                   /* couleur a la taille du coeur*/
                   background-size: cover;
                   background-position: center;
                   color: transparent;
                   font-weight: bold;
                   transition: background-image 3s ease-out;
                   transition: color 2s ease-out;
                    /*mise en place de la transition : arriver progressive de la couleur */
                    }
            i.iconeHeart::before{
                transition: color 1s ease-out;
                            }
        
            i.iconeHeart:hover::before{
                background-image: linear-gradient( 0deg , #FF79DA, #9370D8);
                        cursor: pointer;
             
                    } }

    /* texte réduit quand la phrase est trop longue class="overflow-ellipsis" */




