$primary-color: #9356DC;
$secondary-color:#FF79DA;
$tertiary-color: #99E2D0;
$font-family__title: Shrikhand,sans-serif; /*TYPOGRAPHIE*/
$font-family__txt: Roboto; /*TYPOGRAPHIE*/
$bg-color: lightgrey;
$pdg: 10px;
$bgd-color: whitesmoke;
$btn-color: linear-gradient(-5deg, #9370D8, #FF79DA);
/* $font-size: 7rem 5rem 4rem 2rem; = liste d'une suite de valeur*+
/* $font-size: (logo:7rem, heading:5rem, project-heading:4rem, label:2rem); = mapscar plus détaillé*/
/* MAPS: pour utiliser il faut map-get(nom de la clé ex: $font-size , nom de la clé : label)*/
