$primary-color: #9356DC;
$secondary-color:#FF79DA;
$tertiary-color: #99E2D0;
$font-family__title: Shrikhand,sans-serif; /*TYPOGRAPHIE*/
$font-family__txt: Roboto; /*TYPOGRAPHIE*/
$bg-color: lightgrey;
$pdg: 10px;
$bgd-color: whitesmoke;
$btn-color: linear-gradient(-5deg, #9370D8, #FF79DA);

/* variables pour le responsive */

// Small tablets (portrait view)
$screen-md-min: 768px;

// Large tablets and desktops
$screen-xl-min: 1200px;
